html,body,page{
    height: 100%;
    width: 100%;
    margin: 0;
}
page{
    font-size: 160px;
    position: absolute;
    text-align: center;
    padding-top: 30%
}
#c{
    background-color: lightgreen;
    animation: c 10.3s infinite;
}
#x{
    background-color: red;
    animation: x 10.3s infinite;
}
#q{
    background-image: url("../q.jpg");
    background-size: 100% 100%;
    animation: q 10.3s infinite;
    color: yellowgreen;
}

#d{
    background-color: black;
    background-size: 100% 100%;
    animation: d 10.3s infinite;
    color: white;
}
#z{
    font-size: 36px;
    display: block;
    animation: z 10.3s infinite;
}
@keyframes z {
    0%{opacity: 0}
    70%{opacity: 0}
    80%{opacity: 100}
    100%{opacity: 100}
    100%{opacity: 0}
}
@keyframes c {
    0%{opacity: 0}
    20%{opacity: 100}
    40%{opacity: 0}
    100%{opacity: 0}
}
@keyframes x {
    0%{opacity: 0}
    20%{opacity: 0}
    40%{opacity: 100}
    60%{opacity: 0}
    100%{opacity: 0}
}
@keyframes q {
    0%{opacity: 0}
    20%{opacity: 0}
    40%{opacity: 0}
    60%{opacity: 100}
    80%{opacity: 0}
    100%{opacity: 0}
}
@keyframes d {
    0%{opacity: 0}
    20%{opacity: 0}
    40%{opacity: 0}
    60%{opacity: 0}
    80%{opacity: 100}
    100%{opacity: 0}
}
